body{
    background: #292B30;
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h2#tit1{
   color: white;
   margin-left: 50px; 
   margin-top: 30px;
   
}
h2#tit2{
    color: white;
    float: right;
    margin-right: 450px;
    margin-bottom: 100px;
    margin-top: 60px;
    
}
h2#tit3{
    color: white;
    float: right;
    margin-right: 400px;
    margin-bottom: 100px;
    display: flex
    
}
h2#tit4{
    color: white;
    float: right;
    margin-right: 400px;
    margin-bottom: 100px;
    margin-top: 60px;
    display: block;
    
}
h3{
    color: white;
    margin-left: 50px;
    padding: 30px;
    margin-top: 30px;
}
/*PORTADA */
.portada{
    background: url(../imagenes/Fondos/1.png) no-repeat center center fixed;
    background-size: cover;
    background-attachment: scroll;
    height: 600px;
    box-shadow: 4px 4px #FF5722;  
}
.logo{
    width: 400px;
    height: 400px;
    margin-top: 5%;
    margin-right: 100px;
    display: flex;
    float: right;
}
/*INTRODUCCION */
.in{
    display: flex;
    margin-left: 50px;
    margin-right: 50%;
    padding-top: 300px;
    color: rgb(255, 255, 255);
}
.intro{
    background: url(../imagenes/Fondos/2.png) no-repeat center center fixed;
    background-size: cover;
    background-attachment: scroll;
    height: 600px; 
    color: white;
}
.expl{
    width: 300px;
    height: 300px;
    margin-top: 5%;
    display: flex;
    float: left; 
    padding: 50px;  
}
.expl2{
    padding: 20px;
    margin-top: 90px;
    margin-right: 50px;
}
/* ACCESO DIRECTO */
.acces{
    align-items: center;
    display: inline-flex;
    margin-left: 50%;
    padding: 30px;
    position: relative; 
}
.subtitulos{
    text-align: center;
    display: inline-flex;
    margin: auto;
    margin-left: 255px;
    position: relative;
    color: white;
    font-size: 20px;
}
/* PARA QUE SIRVE */
.container{
    color: white;
}
.container p{
    display: block;
    margin-left: 50%;
}
/*EJEMPLO 1*/
.ejemplo1{
    background-color: #FF5722;
    color: white;
}
.ejem1{
    display: flex;
    margin-bottom: 30px;
}
/*CARACTERISTICAS */
.caracteristicas{
    color: white;
}
.car1{
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 200px;
}
.car2{
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
}
.caracteristicas p{
padding: 15px;
}
/* SEMANTICAS */
.container2{
    color: white;
}
.grup1{
    display: inline-flex;
    padding: 10px;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}
.grup2{
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
}
.pie{
    margin-top: 100px;
    margin-left: 10px;
    display: flex;
}
.etiq{
    align-items: center;
    margin-bottom: 40px;
}